<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CoinView.AppTheme" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="CoinView.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CoinView.AppTheme>
            <setting name="Theme" serializeAs="String">
                <value>WhiteTheme</value>
            </setting>
        </CoinView.AppTheme>
        <CoinView.Settings>
            <setting name="Language" serializeAs="String">
                <value>uk</value>
            </setting>
        </CoinView.Settings>
    </userSettings>
</configuration>